@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.mySwiper .swiper-slide-thumb-active img {
  transform: scale(0.95);
}
.mySwiper2 .swiper-slide-active {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: -2px;
}
.swiper-slide-thumb-active {
  border: 2px solid #000;
  border-radius: 8px;
}
